@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTimeImage</title>

</head>
<body>
    <div>
     @if(ViewBag.hora < 12)
     {
         <!----imagen del sol-->
    <img src="C:\Users\Viridiana\Pictures\bloqueo de pantalla\images (2).jpg" />
     }
     else
     {
             <!----imagen del sol-->
    <img src="C:\Users\Viridiana\Pictures\bloqueo de pantalla\images.jpg" />
     }
    </div>
</body>
</html>
