@{
    ViewBag.Title = "NotFound";
}

<h2>La información que buscaba no pudo ser encontrada</h2>
<h2>Detalles</h2>
<ul>
    <li><b>Codigo de error:</b>@ViewData["ErrorCode"]</li>
    <li><b>Description:</b>@ViewData["Description"]</li>
</ul>